@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #23424a;
  width: 80vw;
  margin: 1.25rem auto;
  padding: 5rem;
  border: none;
  border-radius: 1rem;
}

.inner-div {
  width: 60%;
  color: white;
  margin: 2rem;
  font-family: "Roboto";
}
h1 {
  font-size: 48px;
  font-weight: 900;
}

p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 1rem;
  text-align: justify;
  line-height: 1.6rem;
}

button {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  background-color: #38cfd9;
  color: #23424a;
  height: 48px;
  width: 230px;
  padding: 30px auto;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
}
