@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #23424a;
  width: 80vw;
  margin: 1.25rem auto;
  padding: 5rem;
}

.inner-div {
  width: 50%;
  color: white;
  margin: 2rem;
}
h1 {
  font-size: 2.35rem;
  font-family: "Roboto Black";
}
p {
  font: "Roboto Regular" 1.1rem;
  margin-top: 1rem;
}
button {
  margin-top: 2rem;
  font-style: "Roboto Bold";
  font-size: 1.1rem;
  text-transform: uppercase;
  background-color: #38cfd9;
  color: #23424a;
  padding: 0.75rem;
  border: none;
  border-radius: 1.5 rem;
}
